<%- include ./partials/header.ejs %>

<h4>Find Bus Stops:</h4>
<form action="/api/stopsAtLocation" method="GET">
    <input type="text" name="lat" placeholder="Latitude">
    <input type="text" name="lon" placeholder="Longitude">
    <input type="submit" value="Submit!">
</form>


<% if(stops) { %> 
    <% stops.forEach(stop => { %>
        <p><%= stop.id %></p>
        <p><%= stop.name %></p>
        <p><%= stop.code %></p>
        <p><%= stop.lat %></p>
        <p><%= stop.lon %></p>
        <!-- <% stop.routeIds.forEach(route => { %>
            <p><%= route %></p>
        <% }); %> -->
        <br>
    <% }); %>
<% } %>

<%- include ./partials/footer.ejs %>
